.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  min-height: 100vh;
  padding: 0 0.5rem;
  background-color: #000;
}

.board {
  display: flex;
  flex-wrap: wrap;
  height: fit-content;
  background-color: white;
}

.block {
  width: 5px;
  height: 5px;
  background-color: white;
}

.wall {
  width: 5px;
  height: 5px;
  background-color: black;
}
